<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>¡Pago exitoso!</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <section class="form">
    <h1>¡Gracias por participar!</h1>
    <p>Tu pago fue registrado correctamente. Tus números asignados son:</p>
    <ul>
      {% for n in numbers %}
        <li style="list-style-type: none; margin-right: 40px;">Número: {{ n }}</li>
      {% endfor %}
    </ul>
    <a href="/" style="margin-top: 2rem; display: inline-block; color: #1e3c72;">Volver al inicio</a>
  </section>
</body>
</html>
